.container{
    display: flex;
}

.main-content{
    width: 70%;
    background-color: #98a1c8;
    padding: 20px;
}

.sidebar {
    width: 30%;
    background-color: lightblue;
    padding: 20px;
}
footer {
    width: 100%;
    text-align: center;
    background-color: lightgray;
    color: white;
    padding: 10px;
    margin: 10px;
}