.container{
    display: flex;
    justify-content: space-between;
}
.box {
    width: 30%;
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}